@import url(reset.css);
.wrapper{
  font-size: 0;
      }
.aqua,.green,.orange{
    text-align: center;
  }
.aqua > div{
  width: 400px;
  height: 400px;
  background-color: aqua;
  display: inline-block;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  text-align: left;
  font-size: 15px;
  }
  .aqua > div + div + div{
    border-right: none;
  }





